<ion-content [forceOverscroll]="false" [scrollY]="false">
  <div class="container" [class.success]="isAligned()">
    <ng-container *ngIf="!motion">
      <h1>Ionic Level</h1>
      <p>
        In order to use this PWA, you need to give permission to access your
        device's motion sensor.
      </p>
      <ion-button (click)="requestPermission()"> Give Permission </ion-button>
      <div class="technologies">
        <p>Made with</p>
        <p>
          <a
            *ngFor="let technology of technologies"
            [href]="technology.link"
            target="_blank"
          >
            <ion-icon [name]="technology.icon" size="large"></ion-icon>
          </a>
        </p>
      </div>
    </ng-container>
    <ng-container *ngIf="motion">
      <app-sphere
        [beta]="motion.beta"
        [gamma]="motion.gamma"
        [success]="isAligned()"
      />
      <div class="angle" [class.mix-blend-difference]="!isAligned()">
        {{isAligned()? 0 : angle}}°
      </div>
      <app-sphere
        [beta]="-motion.beta"
        [gamma]="-motion.gamma"
        [success]="isAligned()"
        [bordered]="isAligned()"
      />
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Created by
      <a class="nickname" href="https://github.com/arthurrmp" target="_blank">
        arthurrmp
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-footer>
