.success {
  background-color: var(--ion-color-success);
}

.angle {
  font-size: 4em;
  font-weight: lighter;
  position: absolute;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.nickname {
  text-decoration: none;
}

.technologies {
  padding-top: 100px;

  ion-icon {
    margin: 0 10px;
  }
}
